h1{
  font-family: Times New Roman, Arial, sans-seriff;

  
}

h2{
  font-family: Lato, Arial, sans-seriff;

}

h3{
  font-size: 36px;
  font-family: Playfair Display, Arial, sans-seriff;
  color: #1D18BB;
}

.header{
  outline-style: groove;
  border: 10px groove #1D18BB;
  background: #F4A03A;
  padding-left: 26px;
  margin-bottom: 30px;
  border-radius: 19px;
  padding: 10px 40px 10px 40px;
  margin-left: 50px;
  margin-right: 50px;
}

.page1{
  padding-left: 50px;
  outline-style: groove;
  border: 10px groove #1D18BB;
  background: #4582A3;
  margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
  border-radius: 19px;
	padding: 10px 40px 10px 40px;

	text-align: left;
}

.strengths{
  font-family: Times New Roman, Arial, sans-seriff;
  font-size: 17px;
  padding-right: 26px;
}

h6{
  font-size: 21px;
  font-family: Times New Roman, Arial, sans-seriff;  
}

.all{
  margin-left: 40px;
  margin-right: 40px;
}

li{
  font-size: 17px;
}
h5{
  font-size: 20px;
  color: #F4A03A;
}

h4{
  font-size: 21px;
  font-family: Times New Roman, Arial, sans-seriff;
  padding-right: 26px;
}
